*, *::after, *::before{
    box-sizing: border-box;
}

body,head {
    background: rgb(103,0,255);
background: -moz-linear-gradient(0deg, rgba(103,0,255,1) 0%, rgba(245,0,255,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(103,0,255,1) 0%, rgba(245,0,255,1) 100%);
background: linear-gradient(0deg, rgba(103,0,255,1) 0%, rgba(245,0,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6700ff",endColorstr="#f500ff",GradientType=1);
    margin: 0;
    font-family: 'Press Start 2P'
    
}

.Title{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    
}

.game {
    margin-top: 10vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --cell-size: 180px;
    --mark-size: calc(var(--cell-size) * .9);
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
    margin-bottom: 30px;

}

.gameButtons{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 40px;
}

.gameButtons button {
    font-size:  2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}


.cell {
    width: var(--cell-size);
    height:  var(--cell-size);
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}


.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.cat {
    /* Use background-image to set the image of the cat */
    background-image: url('images/CAT.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cell.dog {
    /* Use background-image to set the image of the dog */
    background-image: url('images/DOG.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cell.cat,
.cell.dog {
    cursor: not-allowed;
}



.cell.cat::before,
.board.cat .cell:not(.dog):not(.cat):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
  
}

.cell.cat::after, 
.board.cat .cell:not(.dog):not(.cat):hover::after{
width: calc(var(--mark-size) * .7);
height: calc(var(--mark-size) * .7);
background-color: white;
}

.cell.dog::before,
.cell.dog:after,
.cell.cat::before {
    background-color: black;
}


.board.dog.cell:not(.dog):not(.cat):hover::before,
.board.dog.cell:not(.dog):not(.cat):hover::after,
.board.cat .cell:not(.dog):not(.cat):hover::before { 
    background-color: lightgray;
}

/*
.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after, 
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}

.cell.x::after, 
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}


.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: black;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
  
}

.cell.circle::after, 
.board.circle .cell:not(.x):not(.circle):hover::after{
width: calc(var(--mark-size) * .7);
height: calc(var(--mark-size) * .7);
background-color: white;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: black;
}


.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before { 
    background-color: lightgray;
}
*/



.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button{
    font-size:  3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.winning-message button:hover{
    background-color: black;
    color: white;
    border: white;
}

.winning-message.show{
    display: flex;
}
